<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

    <div *ngFor="let field of formFields" class="form-group">
      <label>{{field.label}}</label>

      <input type="text" name={{field.id}} ngModel *ngIf="field.type.name=='string'">
      <input type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
      <input type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
    </div>
    <div class="form-group">
      <input type="submit">
    </div>

  </form>
</div>
